@font-face {
    font-family: Gotham-Rounded-Medium;
    src: url(../fonts/gotham-rounded-medium.otf);
}

@font-face {
    font-family: Gotham-Book;
    src: url(../fonts/gotham-book.otf);
}

@font-face {
    font-family: Gotham-Bold-Italic;
    src: url(../fonts/gotham-bold-italic.otf);
}


p {
    font-family: "Gotham-Book", Arial, sans-serif;
    /* font-size: 1.5em; */
}



.title{
	font-family: "Gotham-Book", Arial, sans-serif;
	font-size: 1.1em;
	padding-top: 5%;

}


.heading-title {
	font-family: "Gotham-Rounded-Medium", Arial, sans-serif;
	font-size: 2.5em;
}
.heading-title1 {
	font-size: 4rem;
}
.box {
	color: #333333;
    position: relative;
    background: #1EB0BF;

    /*border: 2px solid #1EB0BF;*/
	height: 60px;
	width: 50%;
    right: 35px;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 2px;
}

.box:before {
    content:'';
    position: absolute;
	top: 30%;
	left: -28px;
	border: solid 14px transparent;
    z-index: -1;
	border-right-color: #1EB0BF;
}
.box:hover {
	background: #333333;
	color: #FFFFFF;
  cursor: pointer;
}

.box:hover:before {
	/* border-right-color: #1EB0BF; */
	border-right-color: #333333;
}

/* timeline */
.container {
  margin-top: 8%;
	/* margin: 90px 40px 8% 90px; */
	padding-left: 10%;
	padding-top: 2%;
}
.container ul {
	list-style: none;
	margin: 0;
	padding-left: 25%;
	position: relative;
}

.container ul:before {
	content: '';
	position: absolute;
	top: 0;
	left: 25%;
	width: 0px;
	height: 100%;
	border: 2.5px solid #666666;
}

.container ul li {
	margin: 5% 60px;
	position: relative;
}

.container ul li > span {
	content: '';
	position: absolute;
	top: 0;
	left: -60px;
	width: 0px;
	height: 100%;
	border: 2.5px solid #57068c;
	border-radius: 10px;
}

.container ul li > span:before, .container ul li > span:after {
	content:'';
	width: 11px;
	height: 11px;
	border: 2px solid #57068c;
	/*border: 2px solid #ba9ddb;*/
	border-radius: 50%;
	position: absolute;
	left: -5.5px;
	background: #57068c;
	/*background: #e06b50;*/

}

.container ul li > span:before {
	top: -11px;
}

.container ul li > span:after {
	top:100%;
}

.container ul li .time span {
	position: absolute;
	font-size: 12px;
	color: #666666;
	font-family: "Gotham-Book", Arial, sans-serif;
}

.container ul li .time span:first-child {
	left:-110px;
	top: -14px;
}

.container ul li .time span:last-child {
	left:-110px;
	top: 95%;
}

/* event details */

.event-description {
	font-family: "Gotham-Book", Arial, sans-serif;
    /*font-weight: bold;*/
	padding-bottom: 10px;
	width: 100%;
}

.event-item-info {
	display: none;
	/*font-size: 1em;*/
	position: relative;
	right: 3%;
  width: 80%;
  padding: 5%;
}

.panel-title {
	color: #333333;
	font-size: 1.3em;
	font-weight: bold;
  margin-top: 3%;
  margin-bottom: 2%;
}

.panelTitleSpan{
  background-color: #1EB0BF;
  padding: 1%;
}
.panel-details{
	color: #333333;
}

.speaker {
	position: relative;
	left: 5px;
}

.location, .innerTime{
  background-color: #57068C;
  color: white;
  margin-right: 1%;
  padding: 2px;
  font-weight: bold;
  font-size: 1.1em;
}
img {
  border-radius: 50%;
  z-index: 1;
  width: 80px;
  float: left;
}


/* footer styles */
footer{
  float: none;
  font-weight: normal;
  /* font-size: .7em; */
  font-family: "Gotham-Book", Arial, sans-serif;
  text-align: center;
  height: 80%;
  border-top: 1px solid rgba(0,0,0,.6);
  padding: 10%;
  width: 100%;
}

footer img{
  float: none;
  border-radius: 0%;
}
.purpleBackFooter{
  background: #57068c !important;
  transition: background 1s;
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  -o-transition: background 1s;
}
#footer-logo{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#footer-logo:hover{
  animation-name: slightBounce;
  animation-duration: 1s;
  -moz-animation-name: slightBounce;
  -webkit-animation-name: slightBounce;
  -o-transition-animation-name: slightBounce;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
}

.footer-grid-container{
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  justify-items: center;
}

.poweredBy img{
  width: 40%;
  height: auto;
}

#backToTop{
  text-align: center;
  font-size: 1.2em;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

.footerLogoAnimate{
  animation-name: toggleZoom;
  animation-duration: 1s;

  -moz-animation-name: toggleZoom;
  -moz-animation-duration: 1s;

  -webkit-animation-name: toggleZoom;
  -webkit-animation-duration: 1s;

  -o-transition-animation-name: toggleZoom;
  -o-animation-duration: 1s;
}

@keyframes toggleZoom {
  0% {width: 5%;}
  50% {width: 8%;}
  100% {width: 5%;}
}

@-webkit-keyframes toggleZoom {
  0% {width: 5%;}
  50% {width: 8%;}
  100% {width: 5%;}
}
@-moz-keyframes toggleZoom {
  0% {width: 5%;}
  50% {width: 8%;}
  100% {width: 5%;}
}
@-o-keyframes toggleZoom {
  0% {width: 5%;}
  50% {width: 8%;}
  100% {width: 5%;}
}

@-webkit-keyframes slightBounce {
  0% {transform:translateY(0%);}
  50% {transform:translateY(-15%);}
  100% {transform:translateY(0%);}
}

@-moz-keyframes slightBounce {
  0% {transform:translateY(0%);}
  50% {transform:translateY(-15%);}
  100% {transform:translateY(0%);}
}
@-o-keyframes slightBounce {
  0% {transform:translateY(0%);}
  50% {transform:translateY(-15%);}
  100% {transform:translateY(0%);}
}
@keyframes slightBounce {
  0% {transform:translateY(0%);}
  50% {transform:translateY(-15%);}
  100% {transform:translateY(0%);}
}

.footerNoShow{
  color: white;
}

.footer-grid-item a:link, .footer-grid-item i{
  color: white;
}

.footer-grid-item a:link:hover, .footer-grid-item i:hover{
  color: #DEDEE7 !important;
}


@media screen and (max-width: 670px) {
  .container {
  	margin: 90px 40px 60px 30px;
	  padding-left: 0%;
	  padding-top: 2%;
  }

  .box {
    height: 50px;
    width: 250px;
    right: 40px;
    margin-bottom: 3px;
    border-radius: 2px;
    background: #1EB0BF;

  }

  .box:before {
  	top: 30%;
  	left: -22px;
  	border: solid 11px transparent;
  	border-right-color: #1EB0BF;
  }

  .title {
  	font-size: 1em;
  	padding-top: 15px;
  }

  .panel-title {
    font-size: 1.1em;

  	color: #333333;
  }

  .panelTitleSpan{
    padding: 2%;
  }

  .panel-details {
  	color: #333333;
  }

  .event-item-info {
    display: none;
    /*font-size: 1em;*/
    position: relative;
    right: 30px;
    width: 130%;
  }

  p {
    font-family: "Gotham-Book", Arial, sans-serif;
    font-size: 1em;
  }

  .heading-title {
  	font-family: "Gotham-Rounded-Medium", Arial, sans-serif;
  	font-size: 2em;
  }

  .heading-title1 {
  	font-size: 3rem;
  }

  footer{
    color: white;
    background-color: #57068c;
  }
  .poweredBy img{
    width: 100%;
    height: auto;
  }

  .footer-grid-container{
    column-gap: 10%;

  }

  .footer-grid-container i, .footer-grid-container a:link{
    color: #1eb0bf;

  }

  .backToTop{
    margin-top: 15%;
  }

  .backToTop:hover{
    color: white;
  }

  .container ul:before{
    left: 20%;
  }
  .container ul{
    padding-left: 20%;
  }

  .container ul li{
    margin-bottom: 10%;
  }

}

/* 6/6 for-portraits */

@media (max-aspect-ratio: 6/6){
  #leftBlob {
    display: none;
  }

  #left-blob-mobile{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80%;
  }

  #right-blob-mobile{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 80%;
  }

  #get-tickets-button{
    font-size: .3em;
  }

  #logo{
    width: 150% !important;
    margin-left: -20% !important;

  }

}


@media (max-aspect-ratio: 6/6) and (min-width: 350px){
  #eighth-annual{
    line-height: 60px;
    height: 60px !important;
    width: auto !important;
    margin-top: 2%;
  }

  #hamburger{
    line-height: 60px;
    font-size: 2em;
    width: 15% !important;

  }

  #navbar{
    width: 100% !important;
    margin-top: 60px;
  }

  .navbar-item, .w3-bar-item{
    width: 100% !important;
  }

  /* footer{
    color: white;
    background-color: #57068c;
    height: 20% !important;
    padding: 5% !important;
  } */

}



@media (max-aspect-ratio: 6/6) and (max-width: 350px){
  #eighth-annual{
    line-height: 50px;
    height: 50px !important;
    width: auto !important;
    margin-top: 2%;
  }

  #hamburger{
    line-height: 50px;
    font-size: 1.5em;
    width: 20% !important;

  }

  #navbar{
    width: 100% !important;
    margin-top: 50px;
  }

  .navbar-item, .w3-bar-item{
    width: 100% !important;
  }

}







/* for-phones-up */
@media screen and  (max-aspect-ratio: 6/6) and (max-width: 509px) {
  .modal-content{
    width: 95%;
    line-height: 2;
  }

  .modal-content h3{
    font-size: 1.3em;
  }
  .speaker-modal-header{
    margin-bottom: 8%;
  }

  .speaker-modal-header img{
    margin-bottom: 5%;
  }

  #logo{
    width: 100%;
    margin-left: -40%;
  }
  main{
    width: 92%;
    margin-left: auto;
    margin-right: auto;
  }

  h3{
    font-size: 1.1em;
  }

  .grid-container {
    column-gap: 5%;
    grid-template-columns: auto auto;

  }

  /* undo speakers flex */
  #speakers-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .speaker-container {
    text-align: center;
    width: 100%;
    margin-top: 40%;

  }

  .speaker-container h3, .speaker-container h4 {
    text-align: center;
  }

  .speaker-container p{
    text-align: left;
  }


  .speaker-container-hidden p{
    text-align: left;
  }

  .speaker-container img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .about-title{
    font-size: 1.2em;

  }

  .sectionSubjectTitle{
    text-align: center;
  }

  .speaker-container p{
    line-height: 1.8;
  }

  #footer-logo{
    width: 15%;
  }

  #backToTop{
    padding-bottom: 10%;
  }

  footer{
    color: white;
    background-color: #57068c;
  }
  .poweredBy img{
    width: 100%;
    height: auto;
  }

  .footer-grid-container{
    column-gap: 10%;

  }

  .footer-grid-container i, .footer-grid-container a:link{
    color: #1eb0bf;

  }

  .backToTop{
    margin-top: 15%;
  }

  .backToTop:hover{
    color: white;
  }

  #lineSvg{
    display: none;

  }
}



@media screen and  (max-aspect-ratio: 6/6) and (min-width: 540px) and (max-width: 750px){

  footer{
    color: white;
    background-color: #57068c;
    height:20% !important;
    padding: 5% !important;
  }

  .footer-grid-container i, .footer-grid-container a:link{
    color: #1eb0bf;
  }

  #speakers-container{
    width: 100%;
  }

  main{
    width: 90%;
  }

  .speakers-container{
    width: 100%;
  }

  #right-blob-mobile{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 60%;
  }

  #left-blob-mobile{
    width: 60%;
  }
}

@media screen and  (max-aspect-ratio: 6/6) and (max-width: 540px){

  footer{
    color: white;
    background-color: #57068c;
    height: 20% !important;
    padding: 5% !important;
  }

  .footer-grid-container i, .footer-grid-container a:link{
    color: #1eb0bf;
  }

  #speakers-container{
    width: 100%;
  }

  main{
    width: 90%;
  }

  .speakers-container{
    width: 100%;
  }

  #right-blob-mobile{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 55%;
  }

  #left-blob-mobile{

    width: 70%;
  }
}


/* 7/7 for-landscapes */

@media screen and (min-aspect-ratio: 7/7){
  #leftBlob {
    overflow: hidden;
    max-height: 100vh;
    z-index: 0;
    top: 0px;
    bottom: 0px;
    position: absolute;
    left: 0px;
  }

  #left-blob-mobile{
    display: none;
  }

  #right-blob-mobile{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 30%;
  }




}


@media screen and (min-aspect-ratio: 7/7) and (min-width: 1350px){

  #eighth-annual{
    line-height: 90px;
    max-height: 90px;
    width: auto !important;
  }

  #navbar-container{
    height: 90px;
  }

  #navbar-mobile a{
    font-size: 1.7em;
    line-height: 90px;
  }

  #get-tickets-button{
    font-size: .5em;
  }

}

@media screen and (min-aspect-ratio: 7/7) and (min-width: 750px) and (max-width: 1000px){
  #eighth-annual{
    line-height: 50px;
    max-height: 50px;
    width: auto !important;
  }

  #navbar-container{
    height: 50px;
  }

  #navbar-mobile a{
    font-size: 1.1em;
    line-height: 50px;
  }


  #get-tickets-button{
    font-size: .3em;
  }

}

@media screen and (min-aspect-ratio: 7/7) and (min-width: 1000px) and (max-width: 1350px){

  #eighth-annual{
    line-height: 50px;
    max-height: 50px;
    width: auto !important;
  }

  #navbar-container{
    height: 50px;
  }

  #navbar-mobile a{
    font-size: 1.1em;
    line-height: 50px;
  }

  #get-tickets-button{
    font-size: .35em;
  }

  #navbar{
    margin-top: 50px;
  }



}
/* for-tablet-landscape-up */
@media screen and (max-aspect-ratio: 7/7) and (min-width: 1000px){

  footer{
    color: white;
    background-color: #57068c;
    height: 40% !important;
    padding: 5% !important;
  }

  .footer-grid-container i, .footer-grid-container a:link{
    color: #1eb0bf;
  }


  #speakers-container{
    width: 100%;

  }

  main{
    width: 90%;
  }

  .speakers-container{
    width: 100%;
  }

  #right-blob-mobile{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 60%;
  }

  #left-blob-mobile{
    position: absolute;
    top: 100px;
    left: 0px;
    width: 60%;
  }
}

@media screen and (min-aspect-ratio: 7/7) and (max-width: 1000px){

  footer{
    color: white;
    background-color: #57068c;
  }

  .footer-grid-container i, .footer-grid-container a:link{
    color: #1eb0bf;
  }


  #speakers-container{
    width: 100%;

  }

  main{
    width: 90%;
  }

  .speakers-container{
    width: 100%;
  }

  #right-blob-mobile{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 40%;
  }

  #left-blob-mobile{
    position: absolute;
    top: 100px;
    left: 0px;
    width: 60%;
  }

  .w3-hide-medium{
    display: inline !important;
  }
}



@media screen and (max-aspect-ratio: 7/7) and (min-width: 750px) and (max-width: 900px){

  footer{
    color: white;
    background-color: #57068c;
    height: 35% !important;
    padding: 5% !important;
  }

  .footer-grid-container i, .footer-grid-container a:link{
    color: #1eb0bf;
  }


  #speakers-container{
    width: 100%;

  }



  main{
    width: 90%;
  }

  .speakers-container{
    width: 100%;
  }

  #right-blob-mobile{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 60%;
  }

  #left-blob-mobile{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60%;
  }
}

@media screen and (min-aspect-ratio: 7/7) and (max-width: 750px){

  footer{
    color: white;
    background-color: #57068c;
    height: 500px !important;
    padding: 5% !important;
  }



  .footer-grid-container i, .footer-grid-container a:link{
    color: #1eb0bf;
  }


  #speakers-container{
    width: 100%;

  }

  main{
    width: 90%;
  }

  .speakers-container{
    width: 100%;
  }

  #right-blob-mobile{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 40%;
  }

  #left-blob-mobile{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60%;
  }

  #eighth-annual{
    line-height: 50px;
    max-height: 50px;
    width: auto !important;
  }
  #navbar-container{
    height: 50px;
  }

  #navbar-mobile a{
    font-size: 1em;
    line-height: 50px;

  }

  #get-tickets-button{
    font-size: .3em;
  }

  .w3-hide-medium{
    display: inline !important;
  }


  #speakers-container{
    width: 100%;
  }

  .speakers-container{
    width: 100%;
  }

  .modal-content{
    width: 95%;
    line-height: 2;
    font-size: .8em;
  }

  .modal-content h3{
    font-size: 1em;
  }
  .speaker-modal-header{
    margin-bottom: 8%;
  }

  .speaker-modal-header img{
    margin-bottom: 5%;
    width: 50%;
  }

  #logo{
    width: 120%;
    margin-left: -10%;
  }



  h3{
    font-size: .8em;
  }

  p{
    font-size: .7em;
  }

  .grid-container {
    column-gap: 5%;
    grid-template-columns: auto auto;

  }



  .about-title{
    font-size: 1.2em;

  }

  .sectionSubjectTitle{
    text-align: center;
  }

  .speaker-container p{
    line-height: 1.8;
  }

  #footer-logo{
    width: 10%;
  }

  #backToTop{
    padding-bottom: 10%;
  }

  footer h3{
    font-size: 1.2em;
  }

  .poweredBy img{
    width: 50%;
    height: auto;
  }



  .backToTop{
    margin-top: 10%;
  }

  .backToTop:hover{
    color: white;
  }

  #lineSvg{
    display: none;

  }

  #eighth-annual{
    line-height: 40px;
    max-height: 40px;
    width: auto !important;
  }
  #navbar-container{
    height: 40px;
  }

  #navbar-mobile a{
    font-size: .7em;
    line-height: 40px;

  }


}

@media screen and (min-aspect-ratio: 7/7) and (max-width: 600px){

  main{
    width: 92%;
    margin-left: auto;
    margin-right: auto;
  }

  #featuring{
    font-size: 1em;
  }

  #speakers-description h2{
    font-size: 1.2em;
  }

  #speakers-description h3{
    font-size: 1em;
  }

  .about-title{
    font-size: 1em;

  }
/*
  footer{
    height: 500px !important;
  } */

  /* undo speakers flex */
  #speakers-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .speaker-container {
    text-align: center;
    width: 90%;
    margin-top: 10%;

  }

  .speaker-container h3, .speaker-container h4 {
    text-align: center;
  }

  .speaker-container h3{
    font-size: 1em;
  }

  .speaker-container p{
    text-align: left;
  }


  .speaker-container-hidden p{
    text-align: left;
  }

  .speaker-container img {
    width: 53%;
    margin-left: auto;
    margin-right: auto;
  }




}


/*tablet */

@media screen and (min-width: 671px) and (max-width: 1024px) {

  .container ul:before{
    left: 20%;
  }
  .container ul{
    padding-left: 20%;
  }
  .container {
  	margin: 90px 40px 60px 60px;
  	padding-left: 5%;
  	padding-top: 0%;

  }
  .box {
    height: 55px;
	  width: 290px;
    right: 40px;
    margin-bottom: 3px;
    border-radius: 2px;
    background: #1EB0BF;

  }
  .box:before {
  	top: 30%;
  	left: -22px;
  	border: solid 11px transparent;
  	border-right-color: #1EB0BF;
  }

  .event-item-info {
  	display: none;
  	position: relative;
  	right: 30px;
  	width: 120%;
  }

  p {
    font-family: "Gotham-Book", Arial, sans-serif;
    font-size: 1em;
  }

  .heading-title{
  	font-family: "Gotham-Rounded-Medium", Arial, sans-serif;
	   font-size: 2em;
   }

  .heading-title1 {
	   font-size: 3rem;
   }

  #footer-logo{
    width: 15%;
  }

  #backToTop{
    padding-bottom: 10%;
  }

  footer{
    color: white;
    background-color: #57068c;
    height: 500px !important;
    padding: 5%;

  }
  .poweredBy img{
    width: 100%;
    height: auto;
  }

  .footer-grid-container{
    column-gap: 10%;

  }

  .footer-grid-container i, .footer-grid-container a:link{
    color: #1eb0bf;

  }

  .backToTop{
    margin-top: 15%;
  }

  .backToTop:hover{
    color: white;
  }

}
