@font-face {
    font-family: Gotham-Medium;
    src: url(../fonts/gotham-medium.otf);
}

@font-face {
    font-family: Gotham-Rounded-Medium;
    src: url(../fonts/gotham-rounded-medium.otf);
}

@font-face {
    font-family: Gotham-Rounded-Bold;
    src: url(../fonts/gotham-rounded-bold.otf);
}

h1, h2, h3 {
    font-family: "Gotham-Rounded-Medium", Arial, sans-serif;
}

p, a {
    font-family: "Gotham-Medium", Arial, sans-serif;
}

.bgimg {
    background-color: #FFFFFF;
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

html {
    font-family: "Gotham", Arial, sans-serif;
}

body {
    margin-left: auto;
    margin-right: auto;
    color: black;
}

body, html {
    height: 100%
}

#logo {
    width: 140%;
    height: auto;
    margin-left: -20%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: 20%;
}

button {
    margin-top: 3%;
    margin-right: 2%;
    margin-left: 2%;
}

.w3-top {
    margin: auto;
    background-color: white;
    padding: 10px;
}

#eighth-annual {
    max-width: 10%;
    height: auto;
    position: absolute;
    z-index: 3;
}

#left-blob {
    max-height: 100vh;
    z-index: 2;
    position: absolute;
}

#right-blob {
    position: absolute;
    max-height: 30%;
    right: 0px;
    bottom: 0px;
}

#date {
    position: absolute;
    right: 5%;
    bottom: 20px;
    z-index: 3;
    color: white;
}

.w3-bar {
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.w3-bar-item {
    margin-left: 3rem;
    margin-right: 3rem;
    text-decoration: none;
}

.w3-bar-item:hover {
    color: teal;
}

#navbar-mobile {
    background-color: blue;
}

#get-tickets-button {
    font-family: "Gotham-Rounded-Bold", Arial, sans-serif;
    font-size: 1.5rem;
    text-decoration: underline;
}

#get-tickets-button:hover {
    color: teal;
}

#about-h1, #speakers-h1 {
    padding-top: 40px;
}

.about-title {
    font-size: 4rem;
}

#stats {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13%;

}

#stats li {
    font-size: 2em;
}

.statistics {
    font-size: 3em;
    margin-right: 4%;
    color: teal;
}

.colorize_stats {
    color: teal;
}

#speakers-h1 {
    display: flex;
    justify-content: center;
}

#speakers-description{
    display: flex;
    justify-content: center;
}

#speakers-container {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.speaker-container{
    margin: 50px;
    flex-direction: row;
    flex-wrap: wrap;
}

.animation-elements {
    opacity: 0;
    -moz-transition: all 700ms ease-out;
    -webkit-transition: all 700ms ease-out;
    -o-transition: all 700ms ease-out;
    transition: all 700ms ease-out;
    -moz-transform: translate3d(0px, 50px, 0px);
    -webkit-transform: translate3d(0px, 50px, 0px);
    -o-transform: translate(0px, 50px);
    -ms-transform: translate(0px, 50px);
    transform: translate3d(0px, 50, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}
